body {
    width: 1054px;
    height: 4451px;
    border-width: 1px;
    opacity: 1;
    position: relative;
    font-family: 'Oswald', sans-serif;
}

header {
    width: 837px;
    height: 122px;
    border-width: 1px;
    background: #61787F;
    border: 1px solid #000000;
}

header h1 {
    font-weight: 300;
    font-style: light;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0;
    vertical-align: middle;
    color: #FFFFFF;
}

#best-movie .movie {
    width: 835px;
    height: 369px;
    border-width: 6px;
    background: #FFFFFF;
    border: 6px solid #000000;
    position: relative;
    opacity: 1;
}

#best-movie h2 {
    font-weight: 600;
    font-style: Semi-Bold;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0;
    vertical-align: middle;
    color: #000000;
}

#best-movie .movie-info h3 {
    font-weight: 600;
    font-style: Semi-Bold;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0;
    vertical-align: middle;
    color: #000000;
}

#best-movie .movie-info p {
    font-weight: 200;
    font-style: Extra-Light;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0;
    vertical-align: middle;
    color: #000000;
}

#best-movie .movie-info button {
    width: 166px;
    height: 68px;
    border-radius: 25px;
    padding: 2px 4px;
    gap: 10px;
    background: #FA0B0B;
    opacity: 1;
    position: relative;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;
}

#top-rated-movies h2 {
    font-weight: 600;
    font-style: Semi-Bold;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0;
    vertical-align: middle;
    color: #000000;
}

#top-rated-movies .movies-container {
    width: 844px;
    height: 558px;
    opacity: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 16px;
    justify-items: center;
    align-items: center;
}

#top-rated-movies .movies-container img {
    width: 252px;
    height: 252px;
    opacity: 1;
    position: relative;
}